---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Circle Website'>
	<button 
	class="ml-10 mt-10 p-2 bg-sky-700 text-xl hover:bg-sky-500 shadow-indigo-500/40 shadow-lg">
	Click
</button>
</Layout>

