---
import Layout from '../layouts/Layout.astro'
import InfoSection from '../components/InfoSection.astro'
import sectionImage1 from '../images/section-image-1.png'
import sectionImage3 from '../images/section-image-3.png'
import testimonialsImage from '../images/testimonials-image.png'
import AwardSection from '../components/AwardSection.astro'
import HeaderSection from '../components/HeaderSection.astro'
import ResourcesSection from '../components/ResourcesSection.astro'
---

<Layout title='Circle Website'>
  <HeaderSection />
  <InfoSection
    badgeText='our promise'
    paragraphs={[
      'Whether you want to edit your Google Docs, resolve Jira issues, or collaborate over Zoom.',
      'Circle has 100+ integrations with tools you already use and love.'
    ]}
    buttonText='Get started free'
    img={sectionImage1}
  >
    <h3
      slot='title'
      class='text-lg font-light'
    >
      Tool <span class='font-semibold'>built for people.</span>
    </h3>
  </InfoSection>
  <AwardSection />
  <InfoSection
    badgeText='Testimonials'
    buttonText='See case studies'
    img={testimonialsImage}
  >
    <h3
      slot='title'
      class='text-lg font-light'
    >
      See how customers <span class='font-semibold'>drive impact</span>
    </h3>
  </InfoSection>
  <InfoSection
    buttonText='Learn more'
    secondaryButtonText='Schedule a consultation'
    img={sectionImage3}
    paragraphs={[
      'Check out Sogolytics enterprise feedback and experience management platform.'
    ]}
  >
    <h3
      slot='title'
      class='text-lg font-light'
    >
      Looking for a <span class='font-semibold'>solution</span> for your business?
    </h3>
  </InfoSection>
  <ResourcesSection />
</Layout>
