---
import Award, { type Props as AwardProps } from '../components/Award.astro'

import award1 from '../images/award-1.png'
import award2 from '../images/award-2.png'
import award3 from '../images/award-3.png'
import award4 from '../images/award-4.png'
import award5 from '../images/award-5.png'
import award6 from '../images/award-6.png'
import Badge from './Badge.astro'

const awards: AwardProps[] = [
  { color: 'red', title: 'Market leader across 18 categories', img: award1 },
  { color: 'orange', title: 'Most loved SaaS tool in 2021', img: award2 },
  { color: 'blue', title: 'Category leader in 2022', img: award3 },
  { color: 'pink', title: 'Most recommended tool in 2021', img: award4 },
  { color: 'purple', title: 'Champion in survey tool 2022', img: award5 },
  { color: 'yellow', title: 'Top performer spring 2021', img: award6 }
]
---

<section class='grid place-items-center p-10 gap-y-5'>
  <Badge title='Awards' />
  <h3 class='text-lg font-light'>
    An <span class='font-semibold'>award winning</span> platform, <span class='font-semibold'
      >loved by customers.</span
    >
  </h3>
  <div class='grid grid-cols-3 gap-10'>
    {
      awards.map((award) => {
        return (
          <Award
            title={award.title}
            color={award.color}
            img={award.img}
          />
        )
      })
    }
  </div>
</section>
