<button
  class='bg-cyan-500 border text-m px-6 py-2 text-white hover:bg-cyan-600/80 hover:text-white/80 font-bold ease-in-out duration-300 hover:scale-105 flex justify-between items-center'
>
  <slot name='icon' />
  <slot>Empty</slot>
  <slot name='icon-right' />
</button>
