---
import Resource from './Resource.astro'
import resourceImage1 from '../images/resources-image-1.png'
import resourceImage2 from '../images/resources-image-2.png'
import resourceImage3 from '../images/resources-image-3.png'
---

<section
  class='p-10 flex gap-x-10 justify-center bg-gradient-to-t from-cyan-200/50 to-white from-50%'
>
  <Resource img={resourceImage1} />
  <Resource img={resourceImage2} />
  <Resource img={resourceImage3} />
</section>
