---
import Resource from './Resource.astro'
import resourceImage1 from '../images/resources-image-1.png'
import resourceImage2 from '../images/resources-image-2.png'
import resourceImage3 from '../images/resources-image-3.png'
import Badge from './Badge.astro'
---

<div class='flex flex-col items-center'>
  <Badge title='build for people' />
  <h3 class='text-lg font-light'>
    <span class='font-semibold'>Easy</span> for beginners. <span
      class='font-semibold'
    >
      Powerful</span
    > for experts.
  </h3>
</div>
<section
  class='p-10 flex gap-x-10 justify-center bg-gradient-to-t from-cyan-200/50 to-white from-50%'
>
  <Resource
    title='Excepteur sint occaecat cupidatat'
    img={resourceImage1}
    paragraphs={[
      'Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos',
      'Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci veli'
    ]}
  />
  <Resource
    title='Quis nostrum exercitationem ullam corporis suscipit laboriosam'
    img={resourceImage2}
    paragraphs={[
      'Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam',
      'nisi ut aliquid ex ea commodi consequatur autem vel eum iure reprehenderit'
    ]}
  />
  <Resource
    title='Lorem ipsum dolor sit amet, consectetur adipiscing elit'
    img={resourceImage3}
    paragraphs={[
      'Coluptatem accusantium doloremque laudantium, totam rem aperiam',
      'Aaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo'
    ]}
  />
</section>
