---
import { Image } from 'astro:assets'
import Button from './Button.astro'

interface Props {
  img: ImageMetadata
  paragraphs: string[]
}
const { img, paragraphs } = Astro.props
---

<div class='space-y-4 bg-white p-5 w-[380px]'>
  <Image
    class='mx-auto'
    alt='asd'
    src={img}
  />
  <slot
    class='font-bold'
    name='title'
  />
  {
    paragraphs &&
      paragraphs.map((paragraph) => (
        <p class='text-xs text-gray-700/80'>{paragraph}</p>
      ))
  }
  <Button>Read More</Button>
</div>
