---
import { Image } from 'astro:assets'
import resourcesImage1 from '../images/resources-image-1.png'
import Button from './Button.astro'
---

<div class='space-y-4 bg-white p-5'>
  <Image
    alt={'resources1'}
    src={resourcesImage1}
  />
  <h2 class='font-bold'>Excepteur sint occaecat cupidata non proident</h2>
  <p class='text-xs text-gray-700/80'>
    Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit,
    sed quia consequuntur magni dolores eos
  </p>
  <p class='text-xs text-gray-700/80'>
    Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet,
    consectetur, adipicis veli
  </p>
  <Button>Read More</Button>
</div>
