---
import Resource from './Resource.astro'
---

<section
  class='p-10 grid grid-cols-3 gap-x-20 bg-gradient-to-t from-cyan-200/50 to-white from-50%'
>
  <Resource />
  <Resource />
  <Resource />
</section>
